table,
th,
td {
    border: 1px solid black
}

th,
.colorear {
    background-color: lightgreen;
}

table {
    border-collapse: collapse
}

.centrado {
    text-align: center
}

.centro {
    width: 80%;
    margin: 0 auto
}

.enlace {
    border: none;
    background: none;
    text-decoration: underline;
    color: blue;
    cursor: pointer
}

.mensaje {
    color: blue;
    font-size: 1.25em
}